
body {
    background-color: #eeeeee;
}

h1 {
    color: #222831;
}

h3 {
    color: #222831;
}

hr {
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-color: #ffffff;
    border-width: 5px;
}
